In [1]:
from tvDatafeed import TvDatafeed, Interval 
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [72]:
# Reading SBIN data from 14-Jun-2022 to 14-Jun-2023.
tv = TvDatafeed('mohitrathor7729', 'Mohit7729@#')
data = tv.get_hist(symbol= "SBIN", exchange="NSE", interval= Interval.in_daily, n_bars= 1000)
data

,symbol,open,high,low,close,volume
datetime,,,,,,
2019-06-03 09:15:00,NSE:SBIN,352.35001,356.45001,349.64999,355.45001,18380919.0
2019-06-04 09:15:00,NSE:SBIN,354.00000,357.20001,351.39999,352.39999,18130636.0
2019-06-06 09:15:00,NSE:SBIN,349.00000,349.60001,335.89999,336.89999,41941144.0
2019-06-07 09:15:00,NSE:SBIN,337.00000,342.75000,336.00000,342.04999,29739710.0
2019-06-10 09:15:00,NSE:SBIN,346.00000,347.29999,340.14999,344.29999,20500542.0
...,...,...,...,...,...,...
2023-06-08 09:15:00,NSE:SBIN,589.95001,593.95001,586.34998,588.50000,15971917.0
2023-06-09 09:15:00,NSE:SBIN,588.00000,589.09998,576.75000,578.70001,18870272.0
2023-06-12 09:15:00,NSE:SBIN,580.00000,581.50000,577.70001,578.65002,8786066.0
2023-06-13 09:15:00,NSE:SBIN,579.45001,581.40002,574.25000,576.40002,12612098.0
2023-06-14 09:15:00,NSE:SBIN,577.00000,578.54999,575.25000,576.54999,8948696.0

In [73]:
# making volatility columns.
data['Volatility'] = (data['high'] - data['low']) / data['low'] * 100
data['Volatility'] = data['Volatility'].round(2)
data

,symbol,open,high,low,close,volume,Volatility
datetime,,,,,,,
2019-06-03 09:15:00,NSE:SBIN,352.35001,356.45001,349.64999,355.45001,18380919.0,1.94
2019-06-04 09:15:00,NSE:SBIN,354.00000,357.20001,351.39999,352.39999,18130636.0,1.65
2019-06-06 09:15:00,NSE:SBIN,349.00000,349.60001,335.89999,336.89999,41941144.0,4.08
2019-06-07 09:15:00,NSE:SBIN,337.00000,342.75000,336.00000,342.04999,29739710.0,2.01
2019-06-10 09:15:00,NSE:SBIN,346.00000,347.29999,340.14999,344.29999,20500542.0,2.10
...,...,...,...,...,...,...,...
2023-06-08 09:15:00,NSE:SBIN,589.95001,593.95001,586.34998,588.50000,15971917.0,1.30
2023-06-09 09:15:00,NSE:SBIN,588.00000,589.09998,576.75000,578.70001,18870272.0,2.14
2023-06-12 09:15:00,NSE:SBIN,580.00000,581.50000,577.70001,578.65002,8786066.0,0.66
2023-06-13 09:15:00,NSE:SBIN,579.45001,581.40002,574.25000,576.40002,12612098.0,1.25
2023-06-14 09:15:00,NSE:SBIN,577.00000,578.54999,575.25000,576.54999,8948696.0,0.57

In [76]:
# getting rows where Volatility higher than 2%
data[(data['Volatility'] > 2) | (data['Volatility'] < -2)]

,symbol,open,high,low,close,volume,Volatility
datetime,,,,,,,
2019-06-06 09:15:00,NSE:SBIN,349.00000,349.60001,335.89999,336.89999,41941144.0,4.08
2019-06-07 09:15:00,NSE:SBIN,337.00000,342.75000,336.00000,342.04999,29739710.0,2.01
2019-06-10 09:15:00,NSE:SBIN,346.00000,347.29999,340.14999,344.29999,20500542.0,2.10
2019-06-13 09:15:00,NSE:SBIN,343.00000,347.45001,339.79999,346.50000,15509948.0,2.25
2019-06-17 09:15:00,NSE:SBIN,343.75000,343.75000,336.95001,338.10001,13779496.0,2.02
...,...,...,...,...,...,...,...
2023-05-09 09:15:00,NSE:SBIN,585.00000,586.45001,572.09998,573.50000,18959065.0,2.51
2023-05-10 09:15:00,NSE:SBIN,575.00000,575.00000,563.25000,572.20001,18561315.0,2.09
2023-05-18 09:15:00,NSE:SBIN,590.29999,593.90002,571.40002,574.20001,45656620.0,3.94
2023-05-19 09:15:00,NSE:SBIN,579.00000,586.25000,569.90002,575.15002,42293962.0,2.87
2023-06-09 09:15:00,NSE:SBIN,588.00000,589.09998,576.75000,578.70001,18870272.0,2.14

In [77]:
# getting rows where volume higher tha n 3 months avg.
data[data['volume'] > data['volume'].rolling(60).mean()]

,symbol,open,high,low,close,volume,Volatility
datetime,,,,,,,
2019-08-29 09:15:00,NSE:SBIN,283.20001,284.29999,273.29999,274.50000,27083514.0,4.02
2019-08-30 09:15:00,NSE:SBIN,275.95001,277.95001,266.85001,273.85001,45702652.0,4.16
2019-09-04 09:15:00,NSE:SBIN,269.70001,275.85001,267.25000,275.10001,27309675.0,3.22
2019-09-05 09:15:00,NSE:SBIN,275.00000,276.35001,271.04999,273.29999,25085139.0,1.96
2019-09-13 09:15:00,NSE:SBIN,285.00000,292.50000,282.00000,291.70001,27303181.0,3.72
...,...,...,...,...,...,...,...
2023-05-17 09:15:00,NSE:SBIN,586.00000,590.50000,579.50000,586.29999,23739774.0,1.90
2023-05-18 09:15:00,NSE:SBIN,590.29999,593.90002,571.40002,574.20001,45656620.0,3.94
2023-05-19 09:15:00,NSE:SBIN,579.00000,586.25000,569.90002,575.15002,42293962.0,2.87
2023-05-22 09:15:00,NSE:SBIN,577.50000,580.29999,573.45001,577.15002,21484049.0,1.19
2023-05-31 09:15:00,NSE:SBIN,583.79999,584.79999,577.50000,579.84998,28797643.0,1.26